@model IEnumerable<salesProject.Models.SalesRecord>

@{
    ViewData["Title"] = "SalesRecord";
}

<h1>SalesRecord</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seller)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.SellerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SalesRecordId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SalesRecordId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SalesRecordId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
